h1 {
    text-shadow: 2px 2px 4px black;
    text-align: center;

}
body {
    text-align: center;

}

.canvasSlider {
    background-image: linear-gradient(to right, black, white);
}

.colorCanvas {
    background-color: dimgrey;
}

#submitButton{
    width: 100px;
    height: 21px;

}