@media only screen and (min-width: 37.6em){

body {
  background-color: #010329;
  background: radial-gradient(circle at bottom, #010329, black 100%);
  min-height: 100%

  }

h1 {
  font-family: 'Friz Quadrata', sans-serif;
  text-align: center;
  border-style: outset;
  padding: 1%;
  border-color: #ccc55e;
}

.fa-facebook {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  background-color: #3b5998;
  color: white;
}

.fa-twitter {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  background-color: #55acee;
  color: white;
}

.fa-linkedin {
  padding: 20px;
  font-size: 50px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  display: block;
  float: right;
  background-color: #0e76a8;
  color: white;
}

.smbuttons {
  display: inline-block;
  float: right;
}

.contactheading {
  margin: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
}

table {
margin: auto;
width: 80%;
font-size: 16px;
box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
}

td {
  padding: 10px;
}

th {
  padding: 10px;
}

tr:nth-child(odd) {background: #010329}
tr:nth-child(even) {background: #010329}

.formdescription {
  text-align: center;
  
}

iframe{
  width: 100%;
  height: 800px;
}

.contactform {
  margin-left: 25%;
}

label {
  float: left;
  display: block;
  text-align: left;
  width: 120px;
  padding: 1px;
  text-align: left;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
  padding: 10px;
  margin-right: 20px;
}

input {
  display: block;
  margin-bottom: 20px;
  padding: 10px;
  margin-left: 60px;
}


input[type=textarea] {
  display: block;
  margin-bottom: 20px;
  width: 40%;
}

input[type="submit"] {
  margin-left: 25%;
  font-size: 16px;
  margin-top: 25px;
}

.mobile {
  display: none;
}

.desktop {
  display: inline;
}

#wrapper {
  background-color: #010329;
  color: #dfe4ed;
  font-family: 'Arial', sans-serif;
  background-image: url("/images/stars.jpg");
  min-height: 100%;
  width: auto;
  height: auto;
  box-shadow: 0 0 20px 20px black inset;
}

h1 {
  background-color: #010329;
  opacity: 50;
}

nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

nav a:link{
  color: #ccc55e
}

nav a:visited {
  color: #87322f
}

li {
  display: inline;
}

img{
  -webkit-filter:grayscale(100%); /* safari */
  filter: grayscale(100%);
  border-radius: 50%;

}



.center {
  display:block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 30%;

}

#navbar {
  position: sticky;
  position: -webkit-sticky; /* Safari */
  top: 0;
  justify-content:center;
  margin: 0 auto;
  display: block;
  text-align: center;
}

nav a{ text-decoration: none; }

nav a:link { color: #ccc55e; }

nav a:visited { color: #87322f; }

nav a:hover, nav a:focus {
  color: #DFE4ED;
  background: #030542;
  transition: 2s linear;
}

#homebutton {
  color: white; 
  font-weight: 900; 
  letter-spacing: 0; 
  background: #010329; 
  padding: 20px; 
  display: inline-block; 
  width: 10%; 
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
}

#aboutmebutton {
  color: white; 
  font-weight: 900; 
  letter-spacing: 0; 
  background: #010329; 
  padding: 20px; 
  display: inline-block; 
  width: 10%; 
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
}

#portfoliobutton {
  color: white; 
  font-weight: 900; 
  letter-spacing: 0; 
  background: #010329; 
  padding: 20px; 
  display: inline-block; 
  width: 20%; 
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
}

#resumebutton {
  color: white; 
  font-weight: 900; 
  letter-spacing: 0; 
  background: #010329; 
  padding: 20px; 
  display: inline-block; 
  width: 10%; 
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
}



#interestsbutton {
  color: white; 
  font-weight: 900; 
  letter-spacing: 0; 
  background: #010329; 
  padding: 20px; 
  display: inline-block; 
  width: 10%; 
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
}

h2 {
  margin: 12%;
  text-align: center;
  font-family: 'Friz Quadrata', sans-serif;
  text-shadow: 2px 2px 8px #87322f;
  font-size: 2em;
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
  padding: 20px;
}

.projectlink {
  font-size: 1.5em;
  background-color: #ccc55e;
  text-align: center;
  border-radius: 19px;
  padding: 10px;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #87322f;
}

.description {
  background: #010329;
  padding: 20px;
  border-radius: 19px;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  
}

section {
  background-color: #010329;
  background: radial-gradient(circle at bottom, #010329, black 100%);
  min-height: 100%;
  box-shadow: 0px 0px 40px 40px #000000;
  text-align: center;
  margin: 20px;
}

footer {
  display: block;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

}


@media only screen and (max-width: 37.5em){

  nav a{ text-decoration: none; }

  nav a:link { color: #ccc55e; }

  nav a:visited { color: #87322f; }

  nav a:hover, nav a:focus { color: #DFE4ED; }

  #homebutton {
    color: white; 
    font-weight: 900; 
    letter-spacing: 0; 
    background: #010329; 
    padding: 20px; 
    display: block; 
    width: 80%; 
    text-align: center;
    border-radius: 19px;
    background: #010329;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    justify-content:center;
    padding: 4.5%;
    font-size: 16px;
  }

  #aboutmebutton {
    color: white; 
    font-weight: 900; 
    letter-spacing: 0; 
    background: #010329; 
    padding: 20px; 
    display: block; 
    width: 80%; 
    text-align: center;
    border-radius: 19px;
    background: #010329;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    justify-content:center;
    padding: 4.5%;
    font-size: 16px;
  }

  #portfoliobutton {
    color: white; 
    font-weight: 900; 
    letter-spacing: 0; 
    background: #010329; 
    padding: 20px; 
    display: block; 
    width: 80%; 
    text-align: center;
    border-radius: 19px;
    background: #010329;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    justify-content:center;
    padding: 4.5%;
    font-size: 16px;
  }

  #resumebutton {
    color: white; 
    font-weight: 900; 
    letter-spacing: 0; 
    background: #010329; 
    padding: 20px; 
    display: block; 
    width: 80%; 
    text-align: center;
    border-radius: 19px;
    background: #010329;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    justify-content:center;
    padding: 4.5%;
    font-size: 16px;
  }



  #interestsbutton {
    color: white; 
    font-weight: 900; 
    letter-spacing: 0; 
    background: #010329; 
    padding: 20px; 
    display: block; 
    width: 80%; 
    text-align: center;
    border-radius: 19px;
    background: #010329;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    justify-content:center;
    padding: 4.5%;
    font-size: 16px;
  }

  nav li {
    display: block;
    width: 80%;
    font-size: 120%;
    text-align: center;
    box-shadow: 2px 2px 2px #330000;
    background-color: #f5f5dc;
    margin: 1%;
    padding: 2%;
  }
  
  #wrapper {
    font-size: 60%;
  }
  
  nav a {
    display: block;
  }
  
  .fa-facebook {
    padding: 20px;
    font-size: 50px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: right;
    background-color: #3b5998;
    color: white;
  }

  .fa-twitter {
    padding: 20px;
    font-size: 50px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: right;
    background-color: #55acee;
    color: white;
  }

  .fa-linkedin {
    padding: 20px;
    font-size: 50px;
    width: 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    float: right;
    background-color: #0e76a8;
    color: white;
  }

  .smbuttons {
    display: inline-block;
    float: right;
    list-style: none;
  }
  
  main a:hover { color: #333300; }
  
  main a:link { color: #ffffff; }
  
  main a:visited { color: #eaeaea; }
  
  main a:hover { color: #ffd700; }
  
  article {
    margin: 0;
  }
  
  article img {
    display: none;
  }
  
  body {
    background-color: #010329;
    background: radial-gradient(circle at bottom, #010329, black 100%);
    min-height: 100%
  }
  
  .mobileheading {
    padding-left: 25%;
  }
  
  .mobilephoto {
    padding-left: 25%;
  }
    
    

  h1 {
    font-family: 'Friz Quadrata', sans-serif;
    text-align: center;
    border-style: outset;
    padding: 1%;
    border-color: #ccc55e;
    background-color: #010329;
  }
  
  h2 {
    margin: 10%;
    text-align: center;
    font-family: 'Friz Quadrata', sans-serif;
    text-shadow: 2px 2px 8px #87322f;
    font-size: 1.5em;
    text-align: center;
    border-radius: 19px;
    background: #010329;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    justify-content:center;
    padding: 20px;
    width: 80%;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }
  
  iframe{
    width: 100%;
    height: 800px;
  }

  #wrapper {
    background-color: #010329;
    color: #dfe4ed;
    font-family: 'Arial', sans-serif;
    background-image: url("/images/stars.jpg");
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 50;
  }
  
  section {
    background-color: #010329;
    background: radial-gradient(circle at bottom, #010329, black 100%);
    min-height: 100%;
    box-shadow: 0px 0px 40px 40px #000000;
  }
  
  .mobile {
    display: inline;
  }
  
  .desktop {
    display: none;
  }
  
  .light-mode {
    background-color: #DFE4ED;
    color: #000000;  
  }
  
  h2 {
    margin: 20px;
  }
  
  .projectlink {
    font-size: 1.5em;
    background-color: #ccc55e;
    text-align: center;
    border-radius: 19px;
    padding: 10px;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #87322f;
  }

  .description {
    background: #010329;
    padding: 20px;
    border-radius: 19px;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    font-size: 16px;
  }
  
  .contactheading {
  margin: 50px;
  padding: 20px;
  text-align: center;
  border-radius: 19px;
  background: #010329;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  justify-content:center;
  }

  .formdescription {
    text-align: center;
    font-size: 16px;
  
  }

  .contactform {
    margin-left: 25%;
  }

  label {
    float: left;
    display: inline-block;
    text-align: left;
    width: 150px;
    padding: 1px;
    text-align: left;
    border-radius: 19px;
    background: #010329;
    box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
    justify-content:center;
    padding: 10px;
    margin-right: 20px;
    font-size: 16px;
  }

  input {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px;
    margin-left: 0px;
  }


  input[type=textarea] {
    display: block;
    margin-bottom: 20px;
    width: 40%;
  }

  input[type="submit"] {
    margin-left: 25%;
    font-size: 16px;
    margin-top: 25px;
  }
  
  .center {
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 30%;
  }
  
  table {
  margin: auto;
  width: 80%;
  font-size: 16px;
  box-shadow:  10px 10px 20px #000110, -10px -10px 20px #030542;
  }

  td {
    padding: 10px;
  }

  th {
    padding: 10px;
  }

  tr:nth-child(odd) {background: #010329}
  tr:nth-child(even) {background: #010329}
  
  img{
    -webkit-filter:grayscale(100%); /* safari */
    filter: grayscale(100%);
    border-radius: 50%;
  }
  
  footer {
    text-align:center;
  }
  
}









