body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 90vh; /* Adjusted height to fit controls */
  background-image: url('/images/map.png');
  background-size: cover;
  position: relative;
}

#controls {
  width: 100vw;
  height: 10vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.control-box {
  width: 15%;
  height: 80%;
  background-color: white;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid darkgray;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.control-box:active {
  background-color: gray;
}

#arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 60px solid red;
  display: block;
}

#joystick {
  display: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 15vh; /* Positioned above controls */
  left: calc(50% - 40px); /* Centered horizontally */
  pointer-events: auto;
}
