body, html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map {
  width: 100vw;
  height: 90vh; /* Adjusted height to fit controls */
  background-image: url('/images/map.png');
  background-size: cover;
  position: relative;
}

#controls {
  width: 100vw;
  height: 10vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
}

.control-box {
  width: 15%;
  height: 80%;
  background-color: white;
  margin: 0 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border: 1px solid darkgray;
  border-radius: 5px;
  transition: background-color 0.3s;
  cursor: pointer;
}

.control-box:active {
  background-color: gray;
}

#arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #00f; /* Color of the triangle */
  transform: translate(-50%, -50%);
}

#arrow::after {
  content: '';
  position: absolute;
  top: -5px; /* Adjust to position the click point above the triangle */
  left: 0;
  width: 10px; /* Width of the clickable point */
  height: 10px; /* Height of the clickable point */
  background-color: red; /* Color of the click point */
  border-radius: 50%; /* Make it circular */
  transform: translate(-50%, -50%);
}


#joystick {
  display: none;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 15vh; /* Positioned above controls */
  left: calc(50% - 40px); /* Centered horizontally */
  pointer-events: auto;
}
