body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    width: 100vw;
    height: 90vh; /* Adjusted height to fit controls */
    background-image: url('/images/map.png');
    background-size: cover;
    position: relative;
}

#controls {
    width: 100vw; /* Full width */
    height: 10vh; /* Control section height */
    background-color: lightgray;
    position: relative;
}

#arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg); /* Default rotation */
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-bottom: 60px solid red; /* Main color */
}

#joystick {
    width: 80px; /* Joystick size */
    height: 80px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: 10px; /* Positioning at the bottom */
    left: calc(50% - 40px); /* Centered horizontally */
    pointer-events: none; /* Ignore pointer events for the background */
}
